.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store

build/

*.iml
.idea
.class
.dex
.apk



/docs/*.out
/docs/*.aux
/docs/*.pdf
/docs/*.toc
/docs/*.synctex.gz
/docs/*.dvi
/docs/*.log

/docs/SVVS/*.out
/docs/SVVS/*.aux
/docs/SVVS/*.pdf
/docs/SVVS/*.toc
/docs/SVVS/*.synctex.gz
/docs/SVVS/*.dvi
/docs/SVVS/*.log
